@import "tailwindcss";

@font-face {
  font-family: "Braille";
  src: url("/font/Braille-Regular.ttf");
}

:root {
  --background: #fbfbfb;
  --foreground: #171717;
  --font-braille: "Braille", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter-tight: var(--font-inter-tight);
  --font-braille: var(--font-braille);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c6c6c6/30;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
